#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero div{
    margin: 1rem 0 5vh 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.item {
    display: flex;
    gap: 2rem;
    align-items: center;
}

